/*font-families
font-family: 'Inconsolata', monospace;
Background #0C1021
values #ABF43B
orange #F85C0D
links and http's #33AE3B
blue #8DA6CE;
silver #AEAEAE
highlight #19264C
*/


* {
	background-color: #0C1021;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Inconsolata', monospace;
}

em {
	border-bottom: 2px solid #F85C0D; 
}

span.style {
	display: inline-block;
	padding: 5px 5px 0px 5px;
	color: #AEAEAE;
	overflow: hidden;
	float: left;
	white-space: nowrap;
}

.header {
	min-width: 300px;
	margin: 5px;
	padding: 5px 10px;
	box-sizing: border-box;
}

.header p {
	color: #F85C0D;
	text-transform: lowercase;
	letter-spacing: 0.05em;
  	text-align: left;
  	padding: 10px 2px;
}

.header p:before {
	content: "{ ";
	color: #8DA6CE;
}

.header p:after {
	content: "/}";
	color: #8DA6CE;
}


.header .nav {
  	list-style: none;
  	margin: 0 auto;
}

div.left {
	white-space: normal;
	padding: 5px;
	margin-left: 10px;
}

p.para {
	text-align: left;
	font-size: 0.9em;
	color: #fff;
}

/* footer navigation */

.nav {
list-style:none;
}

.nav li {
	display: inline-block;
}

.nav a {
 	font-size: 0.7em; 
 	text-decoration: none;
 	color: #8DA6CE;

}

.nav a:before {
	content: "{";
	color: #AEAEAE;
}

.nav a:after {
	content: "/}";
	color: #AEAEAE;
}

.nav a:hover {
	color: #33AE3B;
	background-color: #19264C;
}

.comment {
	color: #AEAEAE;
	font-size: 0.7em;
	text-align: center;
}

.comment:before, .para:before, .desc:before {
	content: "<!-- ";
	color: #AEAEAE;
}


.comment:after, .para:after, .desc:after {
	content: " -->";
	color: #AEAEAE;
}

.title {
	color: #33AE3B;
	text-decoration: none;
	text-transform: uppercase;
} 

#container {
	padding: 10px 10px 10px 60px;
	list-style: decimal-leading-zero;
	font-weight: 700;
	color: #AEAEAE;
}

.item-title {
	text-decoration: none;
	color: #33AE3B ;
	font-weight: 700;
	font-size: 1.09em;
	padding: 5px;
}

.desc {
	color: #ffffff;
	padding: 5px;
	font-size: 0.9em;
	font-weight: 400;
}

#container p {
	color: #FFFFFF;
	width: 25%;
	
}


@media (min-width: 1024px)
.multi-column {
	column-count: 3;
}