/*font-families
font-family: 'Source Code Pro', monospace;font-family: 'Source Code Pro', monospace;
Background #0C1021
values #ABF43B
orange #F85C0D
links and http's #33AE3B
blue #8DA6CE;
silver #AEAEAE
highlight #19264C
*/


* {
	background-color: #0C1021;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Source Code Pro', monospace;
}

p.style {
	padding: 5px 5px 0px 5px;
	border-top: 1px dashed #AEAEAE;
}

.header {
	min-width: 300px;
	margin: 5px;
	padding: 5px 10px;
	box-sizing: border-box;
}

.header h4 {
	color: #F85C0D;
	text-transform: lowercase;
	letter-spacing: 0.05em;
  	text-align: left;
  	padding: 10px 2px;
}

.header h4:before {
	content: "{ ";
	color: #8DA6CE;
}

.header h4:after {
	content: " }";
	color: #8DA6CE;
}

.header h4 span {
	font-size: 1em;
	letter-spacing: 0.08em;
}

.header .nav {
  	list-style: none;
  	margin: 0 auto;
}

.left {
	border-right: 1px dashed #AEAEAE;
	width: 300px;
	padding: 5px;
	margin-left: 10px;
}

.para {
	text-align: left;
	font-size: 0.9em;
	color: #fff;
}

/* footer navigation */

.nav {
list-style:none;
}

.nav li {
	display: inline-block;
}

.nav a {
 	font-size: 0.7em; 
 	text-decoration: none;
 	color: #8DA6CE;

}

.nav a:before {
	content: "{";
}

.nav a:after {
	content: "}";
}

.nav a:hover {
	color: #33AE3B;
	background-color: #19264C;
}

.comment {
	color: #AEAEAE;
	font-size: 0.7em;
	text-align: center;
}

.comment:before, .para:before, .desc:before {
	content: "<!-- ";
}


.comment:after, .para:after, .desc:after {
	content: " -->";
}

.foot:first-child {
	content:"";
}

.foot:after {
	color: #F85C0D;
	content:"\2022";
	font-size: 0.9em;
	/* vertical-align:  */
}

.foot:last-child:after {
	content:"";
}⁠⁠⁠⁠

.title {
	color: #33AE3B;
	text-decoration: none;
	text-transform: uppercase;
} 

#container {
	padding: 10px 10px 10px 60px;
	list-style: decimal-leading-zero;
	color: #AEAEAE;
}

.item-title {
	text-decoration: none;
	color: #33AE3B 
}

#container p {
	color: #FFFFFF;
}
